[submodule "tools/dedsecimsi"]
	path = tools/dedsecimsi
	url = https://github.com/0xbitx/dedsecimsi.git
[submodule "tools/dump1090"]
	path = tools/dump1090
	url = https://github.com/flightaware/dump1090.git
[submodule "tools/dump978"]
	path = tools/dump978
	url = https://github.com/flightaware/dump978.git
[submodule "tools/rtl-ais"]
	path = tools/rtl-ais
	url = https://github.com/dgiardini/rtl-ais.git
